.main {
    background-color: var(--input-bg);
    display: flex;
    justify-content: center;
    padding: 40px;
    width: 100%;
    min-height: 100vh;
}

.container {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.container h2 {
    font-size: large;
    color: var(--heading-3);
    font-weight: 400;
}
.container h2:not(:first-child) {
    margin-top: 10px;
}

@media only screen and (max-width: 800px) {
    .main {
        padding: 30px;
    }

    .container {
        width: 80%;
        gap: 15px;
    }

    .container h2:not(:first-child) {
        margin-top: 8px;
    }
}

@media only screen and (max-width: 400px) {
    .main {
        padding: 20px;
    }

    .container {
        width: 100%;
        gap: 12px;
    }

    .container h2 {
        font-size: medium;
    }
}
