.main {
    background-color: var(--input-bg);
    display: flex;
    justify-content: center;
    padding: 40px;
    width: 100%;
    min-height: 100vh;
}

.container {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.header {
    width: fit-content;
}

.header .link {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    background-color: var(--button-primary);
    padding: 10px;
    border-radius: 5px;
    transition: box-shadow 300ms ease-in-out;
}
.header .link:hover {
    box-shadow: 3px 3px 25px var(--button-primary);
}

.link svg {
    width: 20px;
    height: 20px;
    stroke: #fff;
    stroke-width: 2px;
    fill: #fff;
}

.link p {
    font-size: medium;
    font-weight: 500;
    color: #fff;
}

.container h2 {
    font-size: large;
    color: var(--heading-3);
    font-weight: 400;
}
.container h2:not(:first-child) {
    margin-top: 10px;
}

@media only screen and (max-width: 800px) {
    .main {
        padding: 30px;
    }

    .container {
        width: 80%;
        gap: 15px;
    }

    .header .link {
        gap: 12px;
        padding: 8px;
    }

    .link svg {
        width: 18px;
        height: 18px;
    }

    .container h2:not(:first-child) {
        margin-top: 8px;
    }
}

@media only screen and (max-width: 700px) {
    .container {
        width: 100%;
    }
}

@media only screen and (max-width: 400px) {
    .main {
        padding: 20px;
    }

    .container {
        gap: 12px;
    }

    .header .link {
        gap: 10px;
    }

    .link svg {
        width: 15px;
        height: 15px;
    }

    .link p {
        font-size: small;
    }

    .container h2 {
        font-size: medium;
    }
}
