.main {
    padding: 20px;
    background-color: var(--background);
    border-radius: 10px;
}
.main.loading {
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 70px 20px;
}

.main .loader {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 10px solid var(--heading-3);
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    animation: loadingAnimation 1s infinite;
}

.main .header h3 {
    font-size: x-large;
    font-weight: 600;
    color: var(--heading-2);
}

.main .container table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin-top: 15px;
}

.main .container table thead th {
    padding: 10px;
    color: var(--status-text);
    background-color: var(--input-bg);
    font-size: medium;
    font-weight: 600;
    border: none;
    text-align: left;
}
.main .container table thead th:first-child {
    border-radius: 5px 0 0 5px;
}
.main .container table thead th:last-child {
    border-radius: 0 5px 5px 0;
}

.main .container table tbody::before {
    height: 10px;
    display: table-row;
    content: "";
}

.main .statusText {
    font-size: large;
    color: var(--status-text);
    text-align: center;
    font-weight: 500;
    margin: 70px 0;
}

@keyframes loadingAnimation {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media only screen and (max-width: 800px) {
    .main {
        padding: 15px;
    }

    .main .container table {
        margin-top: 12px;
    }

    .main .container table thead th {
        padding: 8px;
    }

    .main .container table tbody::before {
        height: 8px;
    }
}

@media only screen and (max-width: 700px) {
    .main .container table thead th.drag {
        display: none;
    }
}

@media only screen and (max-width: 400px) {
    .main {
        padding: 12px;
    }

    .main.loading {
        padding: 12px;
    }

    .main .header h3 {
        font-size: large;
    }

    .main .container table {
        margin-top: 10px;
    }

    .main .container table thead th {
        font-size: small;
    }

    .main .statusText {
        font-size: medium;
        margin: 12px 0;
    }
}
