.main {
    padding: 40px;
}

.main .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    margin: 30px 0;
}

.main .header p {
    font-size: large;
    font-weight: 600;
    color: var(--heading-1);
}

.main .header button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 4px 8px;
    border-radius: 5px;
    color: #fff;
    background-color: var(--button-primary);
    font-size: medium;
    font-weight: 500;
}

.main .header button svg {
    fill: #fff;
    height: 15px;
    width: auto;
}

.main .container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
}

@media only screen and (max-width: 800px) {
    .main {
        padding: 30px;
    }

    .main .header {
        gap: 12px;
        margin: 20px 0;
    }

    .main .header svg {
        height: 12px;
    }

    .main .container {
        gap: 15px;
    }
}

@media only screen and (max-width: 400px) {
    .main {
        padding: 20px;
    }

    .main .header {
        gap: 10px;
        margin: 15px 0;
    }

    .main .header p {
        font-size: medium;
    }

    .main .header svg {
        height: 10px;
    }

    .main .container {
        gap: 12px;
    }
}
