.main {
    width: 100%;
    padding: 10px 15px;
    color: var(--heading-2);
    border-radius: 999px;
    background-color: var(--group-card-bg);
    transition: background-color 0.3s ease-in-out, box-shadow 300ms ease-in-out;
}
.main:hover {
    background-color: var(--button-secondary);
}
.main.selected {
    background-color: var(--button-primary);
    color: #fff;
}
.main.hovered {
    box-shadow: 3px 3px 25px var(--group-card-bg);
}

.main.loading {
    height: 45px;
}

.main .container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
}

.main .container .icon {
    background-color: var(--input-bg);
    border-radius: 999px;
    height: 25px;
    width: 25px;
    padding: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main.selected .container .icon {
    background-color: rgba(0, 0, 0, 0.3);
}

.main .container .icon svg {
    height: 100%;
    width: auto;
    fill: var(--heading-2);
}
.main.selected .container .icon svg {
    fill: #fff;
}

.main .container .icon p {
    font-size: 100%;
    font-weight: 600;
    color: var(--heading-2);
}
.main.selected .container .icon p {
    color: #fff;
}

.container .content {
    font-size: medium;
    font-weight: 500;
    text-align: left;
}

@media only screen and (max-width: 800px) {
    .main {
        padding: 8px 12px;
    }

    .main.loading {
        height: 39px;
    }

    .main .container {
        gap: 10px;
    }

    .main .container .icon {
        height: 23px;
        width: 23px;
    }
}

@media only screen and (max-width: 400px) {
    .main {
        padding: 8px 10px;
    }

    .main.loading {
        height: 36px;
    }

    .main .container {
        gap: 8px;
    }

    .main .container .icon {
        height: 20px;
        width: 20px;
    }

    .container .content {
        font-size: small;
    }
}
