.main {
    height: 100vh;
    overflow-y: auto;
    background-color: var(--background);
    padding: 25px;
}

.main .header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    margin-bottom: 40px;
}

.main .header img {
    height: 45px;
    width: auto;
}

.main .header h1 {
    color: var(--heading-1);
    font-size: xx-large;
    font-weight: 600;
}

.main .container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 15px;
}

@media only screen and (max-width: 800px) {
    .main {
        padding: 20px;
    }

    .main .header {
        gap: 12px;
        margin-bottom: 40px;
    }

    .main .header img {
        height: 40px;
    }

    .main .container {
        gap: 12px;
    }
}

@media only screen and (max-width: 400px) {
    .main {
        padding: 15px;
    }

    .main .header {
        gap: 10px;
        margin-bottom: 30px;
    }

    .main .header h1 {
        font-size: x-large;
    }

    .main .header img {
        height: 35px;
    }

    .main .container {
        gap: 10px;
    }
}
