.main {
    height: 100vh;
    overflow-y: auto;
    padding: 25px;
}

.main .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 35px;
}

.main .header button {
    display: none !important;
}

.main .header input {
    background-color: var(--background);
    font-size: medium;
    color: var(--heading-2);
    padding: 15px;
    width: 100%;
    border-radius: 999px;
}

.main .header .icon,
.main .header button {
    padding: 15px;
    border-radius: 999px;
    background-color: var(--button-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: box-shadow 300ms ease-in-out;
}
.main .header .icon:hover,
.main .header button:hover {
    box-shadow: 3px 3px 25px var(--button-primary);
}

.main .header .icon svg,
.main .header button svg {
    height: 20px;
    width: 20px;
    fill: #fff;
    stroke: #fff;
}

.main .actions {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: stretch;
    margin-bottom: 20px;
    gap: 15px;
}

@media only screen and (max-width: 1250px) {
    .main .actions {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (max-width: 1050px) {
    .main .actions {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 800px) {
    .main {
        padding: 20px;
    }

    .main .header {
        gap: 15px;
        margin-bottom: 25px;
    }

    .main .header input {
        padding: 12px;
    }

    .main .header .icon,
    .main .header button {
        padding: 12px;
    }

    .main .header .icon svg,
    .main .header button svg {
        height: 15px;
        width: 15px;
    }

    .main .actions {
        grid-template-columns: 1fr;
        margin-bottom: 15px;
        gap: 12px;
    }
}

@media only screen and (max-width: 700px) {
    .main .header button {
        display: flex !important;
    }
}

@media only screen and (max-width: 400px) {
    .main {
        padding: 15px;
    }

    .main .header {
        gap: 12px;
        margin-bottom: 20px;
    }

    .main .header input {
        font-size: small;
        padding: 10px 12px;
    }

    .main .header .icon,
    .main .header button {
        padding: 10px;
    }

    .main .header .icon svg,
    .main .header button svg {
        height: 12px;
        width: 12px;
    }

    .main .actions {
        margin-bottom: 12px;
        gap: 10px;
    }
}
