@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: var(--background);
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    cursor: pointer;
}

input,
button,
select {
    outline: none;
    border: none;
    background-color: transparent;
}

ul {
    padding: 0;
    margin: 0;
}
li {
    list-style: none;
}

*:disabled {
    cursor: not-allowed;
}

:root {
    --background: #fff;
    --input-bg: #f1ebf6;
    --cred-card-bg: #f4eff8;
    --group-card-bg: #e9e0f1;

    --heading-1: #2c1542;
    --heading-2: #432062;
    --heading-3: #8c5db6;
    --text-primary: #000;
    --status-text: #592a83;

    --button-primary: #7d49ad;
    --button-secondary: #d4c2e4;

    --divider: #a986c8;
    --overlay: #000000aa;

    --g-background: rgba(255, 255, 255, 0.2);
    --g-border: rgba(255, 255, 255, 0.5);

    --loading: var(--button-secondary);
}

.loading {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}
.loading::after {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    background: linear-gradient(
        90deg,
        transparent,
        var(--loading),
        transparent
    );
    animation: skeletonLoading 1s infinite;
}

@keyframes skeletonLoading {
    to {
        transform: translateX(100%);
    }
}

::-webkit-scrollbar {
    width: 6px;
    height: 3px;
}

::-webkit-scrollbar-track {
    background: var(--background);
}

::-webkit-scrollbar-thumb {
    background: var(--button-secondary);
    border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--button-primary);
}
